.DS_Store
node_modules/

# Editor directories and files
.idea
.vscode

package-lock.json
yarn.lock

public/upload/build/*.zip
public/upload/image/*
public/upload/renderer/*.zip
public/upload/static/*.zip
public/upload/video/*.zip
public/upload/views/*.zip
