.DS_Store
node_modules/

# Editor directories and files
.idea
.vscode

package-lock.json
yarn.lock

public/upload/build
public/upload/image
public/upload/renderer
public/upload/static
public/upload/video
public/upload/views
